@charset "UTF-8";
/*----------------------------------------
	Variables
----------------------------------------*/
:root {
  --c_main: #37952F;
  --c_sub: #70CC33;
  --c_black: #333333;
  --c_dark-gray: #707070;
  --c_light-gray: #EEEEEE;
  --c_white: #FFFFFF;
}

/*----------------------------------------
	reset
----------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header, footer, article, section, aside, main, nav, menu, figure, figcaption {
  display: block;
}

span, small, strong, em, b, i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}

/*----------------------------------------
	base
----------------------------------------*/
body {
  color: var(--c_black);
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
}
a {
  color: var(--c_main);
  transition: color 0.3s;
}
a:hover {
  color: var(--c_sub);
  text-decoration: none;
}

/*----------------------------------------
	header
----------------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--c_white);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.header__logo {
  flex-shrink: 0;
  width: 105px;
  margin-left: 20px;
}
@media (min-width: 992px) {
  .header {
    height: 100px;
  }
  .header__logo {
    width: 210px;
    margin-left: 50px;
  }
}


/*----------------------------------------
	hamburger
----------------------------------------*/
.hamburger {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border: 0;
  background: var(--c_main);
  cursor: pointer;
}
.hamburger__line {
  position: relative;
  width: 25px;
  height: 2px;
  background: var(--c_white);
}
.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: var(--c_white);
  transition: transform 0.3s;
}
.hamburger__line::before {
  top: -8px;
}
.hamburger__line::after {
  bottom: -8px;
}
/*閉じる*/
.hamburger._open .hamburger__line{
  background: transparent;
}
.hamburger._open .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger._open .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

/*----------------------------------------
	gnav
----------------------------------------*/
.gnav__link {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.gnav__link:hover {
  color:var(--c_main);
}
@media (max-width: 991px) {
  .gnav {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);/*後方互換のためのフォールバック*/
    height: calc(100dvh - 50px);/*iOSでも状況に応じて常に高さいっぱいに広げる*/
    background: var(--c_white);
    overflow-y: auto; /*中身があふれたら縦スクロール*/
    -webkit-overflow-scrolling: touch; /*iOSで慣性スクロール有効化*/
  }
  .gnav._open {
    display: block;/* _open がついたら表示。classのつけ外しはJSで */
  }
  .gnav__list {
    border-top: 1px solid #e7e7e7;
  }
  .gnav__item {
    border-bottom: 1px solid #e7e7e7;
  }
  .gnav__link {
    display: block;
    padding: 15px 20px;
  }
  .gnav__link._current {
    padding-left: 15px;
    border-left: 5px solid var(--c_main);
  }
}
@media (min-width: 992px) {
  .gnav {
    display: block;
    position: static;
    width: auto;
    height: auto;
  }
  .gnav__list {
    display: flex;
  }
  .gnav__link {
    display: block;
    padding: 1em;
    font-size: 18px;
  }
  .gnav__link._current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--c_main);
  }
}

/*----------------------------------------
	mainContents
----------------------------------------*/
/*
* ヘッダーの高さ分、メインコンテンツの上部に余白を設ける
*/
.mainContents {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .mainContents {
    margin-top: 100px;
  }
}

/*----------------------------------------
	footer
----------------------------------------*/
.footer {
  padding: 0 20px;
  background: var(--c_black);
  color: var(--c_white);
}
.footer__menu > li{
  border-bottom: 1px solid var(--c_dark-gray);
}
.footer__menu a {
  display: block;
  padding: 1em 20px;
  color: var(--c_white);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.footer__copyright {
  padding: 40px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/*
* PC（768px以上）: フッターの高さは内容に応じて自動調整
*/
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

/*
* liタグの間にある改行・スペースが約1文字分の余白としてレンダリングされるため、
* border-left と次の border-left の間に余白が生まれ、隙間があるように見える
*/ 
  .footer__menu > li {
    display: inline-block;
    border-left: 1px solid var(--c_dark-gray);
    border-bottom: 0;
  }
  .footer__menu > li:first-child {
    border-left: none;
  }
  .footer__menu  a {
    padding: 0 1em;
  }
  .footer__menu a:hover {
    text-decoration: underline;
  }
}

/*----------------------------------------
	container
----------------------------------------*/


/*----------------------------------------
	section
----------------------------------------*/


/*----------------------------------------
	heading
----------------------------------------*/


/*----------------------------------------
	button
----------------------------------------*/