@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/


/* mainVisual
----------------------------------------*/
.mainVisual {
	background: var(--c_main);
	color: var(--c_white);
  }
  .mainVisual__inner {
	display: flex; /*gridでもレイアウト可能*/
	flex-direction: column-reverse;
	padding: 20px;
  }
  .mainVisual__image {
	text-align: center;
  }
  .mainVisual__catch {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
  }
  @media (min-width: 768px) {
	.mainVisual {
	  padding: 40px 0;
	}
	.mainVisual__inner {
	  max-width: 1080px;
	  margin: auto;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	}
	.mainVisual__catch {
	  display: flex;
	  justify-content: center;
	  padding: 0 8.3333%; /*(90 / 1080) * 100%*/
	  font-size: min(3.33vw, 36px); /*改行位置キープのためvwで拡縮*/
	}
	.mainVisual__image {
	  flex-shrink: 0;
	  width: 40%;
	}
  }

/* serviceList
----------------------------------------*/


/* pickupList
----------------------------------------*/
