@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/


/* mainVisual
----------------------------------------*/
  .mainVisual {
	background: var(--c_main);
	color: var(--c_white);
  }
  .mainVisual__inner {
	display: flex;
	flex-direction: column-reverse;
	padding: 20px;
  }
  .mainVisual__image {
	text-align: center;
  }
  .mainVisual__catch {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
  }
  @media (min-width: 768px) {
	.mainVisual {
	  padding: 40px 0;
	}
	.mainVisual__inner {
	  max-width: 1080px;
	  margin: auto;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	}
	/*PC: メインビジュアルのキャッチコピー*/
	.mainVisual__catch {
	  display: flex;
	  justify-content: center;
	  padding: 0 8.3333%; /*(90 / 1080) * 100%*/
	  font-size: min(3.33vw, 36px); /*改行位置キープのためvwで拡縮*/
	}
	.mainVisual__image {
	  flex-shrink: 0;
	  width: 40%;
	}
  }

/* serviceList
----------------------------------------*/
  .serviceList {
	display: grid; /*flexでもレイアウトできるがPCでsubgridをつかいたのでgridを選択*/
	gap: 20px;
  }
  .serviceList__item {
	display: grid; /*カード自体をgrid化*/
	gap: 20px; /*コンテンツ間の余白を20pxに設定*/
	width: 100%;
	max-width: 400px; /*カート最大幅400pxで固定*/
	margin: 0 auto;
	background: var(--c_white);
	box-shadow: 0 0 6px rgba(0,0,0,.1);
  }
  .serviceList__thumb img{
	max-width: none;
	width: 100%;
  }
  .serviceList__title {
	margin: 0 20px;
	font-weight: bold;
	font-size: 20px;
  }
  .serviceList__text {
	margin: -10px 20px 0; /*ここだけアイテム間余白を10pxにしたいのでネガティブマージンで調整*/
	line-height: 1.875;
  }
  .serviceList__btn {
	margin: 0 20px 20px;
  }
  @media (min-width: 768px) {
	.serviceList {
	  grid-template-columns: repeat(3,1fr); /*3カラムに変更*/
	}
	.serviceList__item {
	  grid-row: span 4; /*子gridの高さを4グリッド分に設定*/
	  grid-template-rows: subgrid; /*subgrid化*/
	}
	.serviceList__title {
	  align-self: center; /*隣り合うタイトル行を上下中央配置（仕様にはないがその方が美しいためコーディング判断で設定）*/
	}
  }

/* pickupList
----------------------------------------*/
